.drag{-webkit-transition:all 0 cubic-bezier(0, 0, 0.2, 1) !important;}
.dragged{z-index:999 !important;box-shadow:0 1px 8px rgba(0, 0, 0, 0.3);-webkit-transition:all 0 cubic-bezier(0, 0, 0.2, 1) !important;}
.slow{-webkit-transition:all 0.35s ease-in-out !important;}
.medium{-webkit-transition:all 0.25s ease-in-out !important;}
.fast{-webkit-transition:all .15s ease !important;}
.bottom{z-index:999 !important;-webkit-transform-origin:50% 0%;-webkit-transform:rotatex(-100deg);opacity:.3;}
.top{z-index:999 !important;-webkit-transform-origin:50% 100%;-webkit-transform:rotatex(85deg);margin-bottom:-60px;position:relative;top:-60px;opacity:.3;}
body{width:100%;padding:0;margin:0;background-color:#000;color:#fff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;overflow-x:hidden;}
ul{margin:0;padding:0;list-style-type:none;}
a{color:#fff;text-decoration:none;}
#wrapper{overflow-x:hidden;overflow-y:scroll;}
#check,#cross{display:block;width:55px;height:60px;position:absolute;-webkit-transition:opacity 0 cubic-bezier(0, 0, 0.2, 1),-webkit-transform 0 cubic-bezier(0, 0, 0.2, 1);-webkit-perspective:0;-webkit-backface-visibility:hidden;display:none;}
#check{left:0;}
#cross{right:0;}
#home,#listview{position:absolute;width:100%;height:100%;top:0;left:0;-webkit-transition:-webkit-transform 0.15s ease,opacity 0.15s ease;-webkit-perspective:1000;-webkit-backface-visibility:hidden;}#home li.addmore,#listview li.addmore{line-height:60px;text-align:center;font-weight:bold;font-size:18px;color:#ccc;z-index:0;margin-bottom:-60px;}
#home{z-index:2;}
#listview{z-index:1;}
.list,.todo{height:60px;-webkit-user-select:none;-webkit-transition:all .1s ease;-webkit-perspective:0;-webkit-backface-visibility:hidden;position:relative;}.list .inner,.todo .inner{height:58px;padding:0 10px;font-size:18px;font-weight:bold;line-height:58px;border-top:1px solid rgba(255, 255, 255, 0.07);border-bottom:1px solid rgba(0, 0, 0, 0.1);position:relative;}
.list .name,.todo .name{display:inline-block;position:relative;}.list .name span,.todo .name span{position:absolute;z-index:2;display:block;width:100%;height:2px;background-color:#fff;left:0;top:52%;-webkit-user-select:none;-webkit-perspective:0;-webkit-backface-visibility:hidden;-webkit-transform-origin:0%;-webkit-transition:-webkit-transform 0 cubic-bezier(0, 0, 0.2, 1);-webkit-transform:scalex(0);}
.list input[type="text"],.todo input[type="text"]{border:none;background:transparent;color:#fff;font-size:18px;font-weight:bold;padding:0;margin:0;position:relative;left:-1px;}
.list{background-color:#0086F3;}.list .count{position:absolute;right:0;top:-1px;width:60px;height:60px;text-align:center;line-height:60px;background-color:rgba(255, 255, 255, 0.15);}
.list.empty{color:rgba(255, 255, 255, 0.5);}
.todo{background-color:#f5001d;}.todo.green{background-color:#00AA33 !important;}
.todo.done{background-color:#252525 !important;color:#434343;}.todo.done .name span{-webkit-transform:scalex(1) !important;background-color:#434343 !important;}
.todo.done a{color:#434343 !important;}
